# Some packages required by pcalg can only be installed through bioconductor
install.packages("BiocManager")
BiocManager::install(c("graph", "RBGL", "ggm"))

install.packages(c("pcalg", "bnlearn", "igraph"))

# Backshift
install.packages("backShift", dependencies=TRUE)

# For Causal Dantzig
install.packages("InvariantCausalPrediction", dependencies=TRUE)

# For LRPS-ADMM
install.packages(c("Matrix", "MASS", "mvtnorm", "RSpectra", "matrixcalc", "pcaPP", "cvTools"))



